.color_paleta01{background-color: #00022b;}
.color_paleta02{background-color: #ffcd08;}
.color_paleta03{background-color: #00c6e8;}
.color_paleta04{background-color: #7a00ff;}
.color_verdeMar{background-color: #01c5ab;}

.font_paleta03{color: #00c6e8;}
